body {
    font-family: Arial, sans-serif;
    color: #333;
    background: url(sunflower.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    min-height: 100%;
    overflow-x: hidden;
}

.centered-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
}

h1 {
    color: #0066cc;
    text-align: center;
    font-size: 50px;
    margin: 0;
}

h2{
    color: black;
    text-align: center;
    font-size: 18px;
    margin: 0;
}

#myTable_filter input {
    color: black;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid black;
    text-align: center;
    font-size: 24px;
}


#myTable{
    font-weight: bold;
    background: rgba(255, 255, 255, 0.4);
    border: 5px solid black;
    border-radius: 10px;
    width: 500px !important;
    max-width: 500px !important;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    #myTable{
        max-width: 90vw !important;
        width: 90vw !important;
    }

    .dataTables_wrapper .dataTables_filter {
        max-width: 90vw !important;
        width: 90vw !important;
    }

}

.dataTables_wrapper .dataTables_filter {
    width:100%;
    text-align:center !important;
    margin: 15px;
    width: 500px !important;
    max-width: 500px !important;
  }

.invisible{
    display: none;
}

.font-zero{
    font-size: 0;
}

button {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#myTable td:nth-child(5), #myTable th:nth-child(5) {
    display: none;
}
#myTable td:nth-child(6), #myTable th:nth-child(6) {
    display: none;
}
#myTable td:nth-child(7), #myTable th:nth-child(7) {
    display: none;
}
#myTable td:nth-child(8), #myTable th:nth-child(8) {
    display: none;
}
#myTable td:nth-child(9), #myTable th:nth-child(9) {
    display: none;
}
#myTable td:nth-child(10), #myTable th:nth-child(10) {
    display: none;
}